<h1>Cadastre o seu Jogo</h1>
<form class="form" action="/games/insertgame" method="POST">
<div class="form-control">
    <label for="title">Titulo: </label>
    <input type="text" name="title" placeholder="Titulo do Jogo"> 
</div>
<div class="form-control">
    <label for="year">Ano de Lançamento:</label>
    <input type="number" name="year" placeholder="Ano de Lançamento">
</div>
<div class="form-control">
    <label for="dev">Desenvolvedora: </label>
    <input type="text" name="dev" placeholder="Desenvolvedora"> 
</div>
<div class="form-control">
    <label for="gender">Genêro:</label>
    <input type="text" name="gender" placeholder="Genêro">
</div>
<div class="form-control">
    <label for="platf">Plataforma: </label>
    <input type="text" name="platf" placeholder="Plataforma"> 
</div>
<div class="form-control">
    <label for="age">Faixa etária:</label>
    <input type="number" name="age" placeholder="Faixa etária">
</div>
<input type="submit" value="Cadastrar">
</form>